.integrations {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.integrationImg {
  height: 160px;
  width: 160px;
}

/* Center the search form */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.borderedDiv {
  /*border: 1px solid lightgray;*/
  margin-top: 5px;
  margin-bottom: 5px;

}